fastapi
uvicorn[standard]

sqlalchemy
psycopg[binary]
alembic

pydantic
pydantic-settings

python-dotenv

python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

httpx

pytest
pytest-asyncio

networkx

scikit-learn
joblib
email-validator
google-genai